<!DOCTYPE html>
<html lang="en">
    <head>
        <title>M3u8 stream downloader</title>
        <script src='./socket.io.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id='app'>
            <p>FileName : <input type="text" v-model="fileName"></p>
            <p>m3u8 Link : <input type="text" v-model="link"></p>
            <p>SubTopic : <input type="text" v-model="subTopic"></p>
            <p>Date : <input type="date" v-model = "date" id='date'></p>
            <label for='subject'>Subject:</label>
            <select id='subject' v-model='subjectName'>
                <option v-for='x in subject_list' v-bind:value='x'>
                    {{x}}
                </option>
            </select><br/>
            <button v-on:click='download'>Download</button>
            <br/>
            <div v-for='(value, fileName) in files'>
                {{fileName}} : 
                <progress max='100' :value='value.percent'></progress>
                {{value.percent}}%
                <br/>
                {{value.count}}/{{value.total_count}}
            </div>
        </div>
    </body>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                fileName: '',
                link: '',
                subTopic: '',
                subjectName: '',
                date: '',
                subject_list: [
                    'Maths',
                    'MD',
                    'TOM',
                    'TurboMachinery',
                    'MOS',
                    'FM',
                    'EM',
                    'Maths',
                    'TD',
                    'Production',
                    'IE'
                ],
                files: {},
            },
            methods: {
                download: function () {
                    let request = new XMLHttpRequest()
                    this.$set(this.files, this.fileName, {
                        percent: 0,
                        count: 0,
                        total_count: 0
                    })
                    let params = {
                        fileName: this.fileName,
                        link: this.link,
                        subTopic: this.subTopic,
                        subjectName: this.subjectName,
                        date: this.date
                    }
                    request.open('POST','/download', true)
                    request.setRequestHeader('Content-Type', 'application/json')
                    request.send(JSON.stringify(params))
                    this.link = ''
                }
            },
            mounted: function(){
                var socket = io()
                let app = this;
                console.log('creating socket connection')
                socket.on('output', (output)=>{
                    // console.log(output)
                    let percent = Math.round(output.count/output.total_count*100)
                    if (!app.files.hasOwnProperty(output.fileName)){
                        app.$set(app.files, output.fileName, {
                            percent: 0,
                            count: output.count,
                            total_count: output.total_count
                        })
                    }
                    app.files[output.fileName].percent = percent
                    app.files[output.fileName].count = output.count
                    app.files[output.fileName].total_count = output.total_count
                })
                socket.on('error', (error)=>{
                    console.error(error)
                })
            }
        });
    </script>
</html>
<style>
    input[type=text], textarea {
        width: 95%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        border: 2px solid;
    }
    select {
        width: 20%;
        padding: 16px 20px;
        border-radius: 4px;
    }
    button {
        float: right;
        padding: 16px 32px;
        border: 2px solid;
        border-radius: 5px;
        background-color: rgb(0, 153, 255);
    }
</style>